body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-image: url('homepage.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
    overflow: hidden;
}


.burger-menu {
    display: none;
    cursor: pointer;
    font-size: 30px;
    position: absolute; 
    top: 20px; 
    right: 20px; 
    color: #ffffff;
    background: #54592D; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    z-index: 1001; 
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    background: rgba(255, 255, 255, 0.95);
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 20px;
    left: 50%; 
    width: auto; 
    max-width: 960px;
    transform: translateX(-50%); /* 水平居中 */
    z-index: 900;
    transition: transform 0.3s ease-in-out;
}

.navbar a {
    color: #54592D;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* 添加过渡效果 */
    border-radius: 5px; /* 添加圆角以提升视觉效果 */
}

.navbar a:hover {
    background-color: #858B47; /* 悬浮时背景颜色变化 */

}

.navbar a:active {
    background-color: #54592D; /* 选中时的背景颜色 */
    color: white; /* 选中时的字体颜色 */
}

@media (max-width: 768px) {
    .burger-menu {
        display: block; /* 小屏幕上显示汉堡菜单按钮 */
    }

    .navbar {
        display: none; /* 初始状态隐藏导航栏 */
        position: fixed; /* 固定定位覆盖整个屏幕 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 0.95);
        padding: 80px 0;
        overflow-y: auto;
        transform: none; /* 移除水平居中的转换 */
        z-index: 1000; /* 保证在汉堡按钮下面 */
    }

    .navbar.responsive {
        display: flex; /* 菜单展开时显示 */
        justify-content: center; /* 居中显示内容 */
        align-items: flex-start; /* 从顶部开始排列内容 */
        padding-top: 80px; /* 顶部留出更多空间 */
        padding-left: 0; /* 移除左侧的额外间距 */
        padding-right: 0; /* 移除右侧的额外间距 */
    }

    .navbar a {
        text-align: center; /* 链接文本居中对齐 */
        width: 80%; /* 限制宽度以保持居中 */
        padding: 15px 0; /* 增加内边距，避免内容靠近边缘 */
        border-bottom: 1px solid #ccc; /* 添加细分隔符 */
        margin: 0 auto; /* 水平居中 */
        color: #54592D;
        font-size: 18px; /* 调整字体大小以适应小屏幕 */
        transition: background-color 0.1s ease, color 0.1s ease;
    }
    
}


#searchInput, button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#searchInput {
    width: 80%;
    max-width: 300px;
    font-size: 1em;
}

button {
    background-color: green;
    color: white;
    font-size: 1em;
    cursor: pointer;
}


